@model yektaApi.Models.Customer

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Customer</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CFamily)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CFamily)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CCodemeli)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CCodemeli)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CCodeTax)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CCodeTax)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CCity)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CCity)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Cmail)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Cmail)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Ctel)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Ctel)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Cmobile)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Cmobile)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CAddress)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CAddress)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Cpostalcode)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Cpostalcode)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CContext)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CContext)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Ctype)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Ctype)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UId)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.CId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
